In [1]:
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt
import pandas as pd
from ast import literal_eval
import plotly.offline as off
import nltk
from nltk.corpus import wordnet
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import json
meta = pd.read_csv('movies_metadata_preprocessed.csv')
meta.loc[:,'release_date']=pd.to_datetime(meta.release_date, format = '%Y-%m-%d', errors="coerce")
%store -r imputed_indices

meta = meta.drop(imputed_indices[1],errors='ignore')
print(meta.shape)

(8018, 15)

In [2]:
%store -r keyword_dict
%store -r new_keyword_occurences
train,test = train_test_split(meta,test_size=0.25)
#building dictionary containing keyword weights based on revenue, i.e fitting the model

dict_key=dict()
for a,b in new_keyword_occurences:
    dict_key[a]=b
revenue_dict = dict()

for index,row in train.iterrows():
    if type(row.keywords)==type(0.0):
        continue
    for name in literal_eval(row.keywords):
        try:
            revenue_dict[name] = revenue_dict.get(name,0)+(row.revenue)/dict_key[name]
        except:
            pass

In [3]:
#predicting the test revenue using the model built

def predictor(df):
    pred = []
    indices = []
    for index,row in df.iterrows():
        temp=0
        if type(row.keywords)==type(0.0):
            pred.append(np.nan)
            continue
        for name in literal_eval(row.keywords):
            try:
                temp += revenue_dict[name]/len(literal_eval(row.keywords))

            except:
                pass
        if temp == 0:
            indices.append(index)
        pred.append(temp)
    return np.array(pred),indices

In [4]:
test.loc[:,'pred'],test_indices=predictor(test)
test_predictions=test.loc[:,['title','release_date','revenue','pred']]
test_predictions = test_predictions.drop(test_indices)
test_predictions.loc[:,'log revenue']=np.log10(test_predictions.revenue)
test_predictions.loc[:,'log predictions']=np.log10(test_predictions.pred)
test_predictions.to_csv('predictions.csv')
new_test_predictions = test_predictions[~test_predictions.pred.isnull()]
print('Test RMSE:',(mean_squared_error(new_test_predictions['pred'],new_test_predictions['revenue'])**.5))
print('Test Log RMSE:',mean_squared_error(new_test_predictions['log predictions'],new_test_predictions['log revenue'])**.5)

Test RMSE: 87588802.23729181
Test Log RMSE: 0.8640859778904955

/Users/rahulshiv/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/rahulshiv/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
train.loc[:,'pred'],train_indices=predictor(train)
train_predictions=train.loc[:,['title','release_date','revenue','pred']]
train_predictions = train_predictions.drop(train_indices)
train_predictions.loc[:,'log revenue']=np.log10(train_predictions.revenue)
train_predictions.loc[:,'log predictions']=np.log10(train_predictions.pred)

/Users/rahulshiv/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/rahulshiv/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
new_train_predictions = train_predictions[~train_predictions.pred.isnull()]
print('Train RMSE:',mean_squared_error(new_train_predictions['pred'],new_train_predictions['revenue'])**.5)
print('Train Log RMSE:',mean_squared_error(new_train_predictions['log predictions'],new_train_predictions['log revenue'])**.5)

Train RMSE: 79711413.85764143
Train Log RMSE: 0.6726981706971895

In [7]:
new_test_predictions[(new_test_predictions.release_date.dt.year>1970) & (new_test_predictions.release_date.dt.year<1980)].sample(n=5,random_state=1)

,title,release_date,revenue,pred,log revenue,log predictions
1317,Jaws,1975-06-18,470654000.0,5.933551e+06,8.672702,6.773315
6396,The Man in the Glass Booth,1975-01-27,6674670.8,4.085811e+06,6.824430,6.611278
12784,Black Caesar,1973-02-07,829066.4,7.850141e+05,5.918589,5.894877
10566,The Spirit of the Beehive,1973-10-08,27746645.8,8.477298e+06,7.443210,6.928257
7350,Tinker Tailor Soldier Spy,1979-09-10,25427054.4,3.524977e+06,7.405296,6.547156

In [8]:
new_test_predictions[(new_test_predictions.release_date.dt.year>1980) & (new_test_predictions.release_date.dt.year<1990)].sample(n=5,random_state=1)

,title,release_date,revenue,pred,log revenue,log predictions
2011,House II: The Second Story,1987-05-14,7800000.0,8.514096e+06,6.892095,6.930139
1207,Down by Law,1986-05-01,12767304.6,5.976284e+06,7.106099,6.776431
5711,The Noah's Ark Principle,1984-02-24,8104632.8,1.302701e+06,6.908733,6.114845
2226,The Emerald Forest,1985-06-26,24467000.0,1.752989e+06,7.388581,6.243779
4489,Scenes from the Class Struggle in Beverly Hills,1989-06-03,8696667.2,1.367624e+07,6.939353,7.135967

In [9]:
new_test_predictions[(new_test_predictions.release_date.dt.year>1990) & (new_test_predictions.release_date.dt.year<2000)].sample(n=5,random_state=1)

,title,release_date,revenue,pred,log revenue,log predictions
6348,Born to Be Wild,1995-03-31,7307901.4,6.128202e+06,6.863793,6.787333
498,Orlando,1992-09-01,674924.2,4.556582e+06,5.829255,6.658639
2557,Les Amants du Pont-Neuf,1991-10-16,8942376.6,4.878989e+06,6.951453,6.688330
1738,Deep Impact,1998-05-08,140464664.0,2.006003e+06,8.147567,6.302332
323,Tom & Viv,1994-04-15,1534272.0,1.828665e+07,6.185902,7.262134

In [10]:
new_test_predictions[(new_test_predictions.release_date.dt.year>2000) & (new_test_predictions.release_date.dt.year<2010)].sample(n=5,random_state=1)

,title,release_date,revenue,pred,log revenue,log predictions
6148,The Shape of Things,2003-01-01,313559.8,3.629075e+06,5.496320,6.559796
14021,The Hunt for Gollum,2009-05-04,2410991.4,1.015110e+06,6.382196,6.006513
12705,Next Door,2005-03-10,5290911.6,3.335700e+06,6.723531,6.523187
12828,The Burning Plain,2008-07-11,39054138.2,3.347601e+06,7.591667,6.524734
12667,Roman Polanski: Wanted and Desired,2008-01-18,34232.6,1.808134e+06,4.534440,6.257231

In [11]:
new_test_predictions[(new_test_predictions.release_date.dt.year>2010) & (new_test_predictions.release_date.dt.year<2020)].sample(n=5,random_state=1)

,title,release_date,revenue,pred,log revenue,log predictions
23655,To Be Takei,2014-08-22,1508888.6,5.559470e+06,6.178657,6.745033
21954,Killing Lincoln,2013-02-16,5090173.4,2.720327e+06,6.706733,6.434621
41137,The Other Side of Hope,2017-02-03,159572.6,1.331607e+06,5.202958,6.124376
20339,Gregory Crewdson: Brief Encounters,2012-03-01,3719630.6,4.251574e+06,6.570500,6.628550
40439,The Founder,2016-11-24,23964782.0,1.868854e+06,7.379573,6.271575